body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }  

  header, footer {
    background-color: #4c7ec9;
    color: white;
    padding: 20px;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0px; /* Awalnya tersembunyi di bawah layar */
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    transition: transform 0.4s ease;
    transform: translateY(100%); /* Sembunyikan */
    z-index: 999;
  }
  
  footer.show {
    transform: translateY(0); /* Muncul dengan slide ke atas */
  }
  

.lang-switch {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
  }
  
  .lang-switch button {
    display: flex;
    align-items: center; /* Vertikal tengah */
    gap: 6px;             /* Jarak antara ikon dan teks */
    margin-left: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .lang-switch button img {
    width: 18px;
    height: 18px;
  }
  
  .lang-switch button:hover {
    background-color: #39485f;
    color: white;
  }
  

  
  .container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    min-height: 100hv;
  }
  
  .projects, .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style-type: none; /* Menghapus bullet points pada list */
    padding-left: 0;
  }
  
  li {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  i {
    margin-right: 10px; /* Memberikan jarak antara ikon dan teks */
    color: #0d6efd; /* Memberikan warna biru pada ikon */
  }
  
  a {
    text-decoration: none;
    color: inherit; /* Memastikan warna teks mengikuti warna ikon */
    font-size: 16px;
  }
  
  a:hover {
    text-decoration: underline; /* Mengganti gaya teks ketika hover */
  }
  
  
  a {
    color: #0d6efd;
    text-decoration: none;
  }

 .fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
.justify {
    text-align: justify;
  }

  

  
  